!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Koala
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .grid.grid-cols-4.h-screen.w-full
      / Tags
      #tags-list.col-span-1.bg-neutral-800.h-full
        .flex.flex-row.justify-start.uppercase.text-sm.pl-7.pt-5.font-medium.text-neutral-400
          Categories

        .flex.flex-col.gap-1.py-2.px-5
          = link_to notes_path do
            .w-full.p-2.text-white.rounded-md{class: "hover:bg-neutral-700 #{@tag.nil? && controller_name == 'notes' && action_name == 'index' ? 'bg-neutral-700' : nil}"}
              All notes

        .flex.flex-row.justify-start.uppercase.text-sm.pl-7.pt-5.font-medium.text-neutral-400
          Tags
        .flex.flex-col.gap-1.px-5.py-2
          - @tags.each do |tag|
            = link_to notes_path(tag: tag) do
              .w-full.p-2.text-white.rounded-md{class: "hover:bg-neutral-700 #{@tag == tag ? 'bg-neutral-700' : nil}"}
                = tag


      #notes-list.col-span-1.bg-neutral-100.h-full.overflow-scroll
        - @notes.each do |note|
          = link_to note_path(note) do
            .p-5.flex.flex-col.gap-1.border-b{class: 'hover:bg-neutral-200'}
              .text-neutral-800.font-medium.text-lg
                = note.content.split("\n").first&.truncate(30)
              .text-neutral-500.font-base.text-xs
                #{time_ago_in_words(note.created_at)} ago
              .text-neutral-700.font-base.text-sm
                = note.content.truncate(70)
      = yield
