!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Koala
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .flex.flex-row.gap-5.px-7.py-7.bg-primary.hidden{'data-controller': 'mobile-tabs', class: 'lg:block'}
      %i.text-white.w-7{'data-feather': "hash", 'data-action': 'click->mobile-tabs#showTags'}
      %i.text-white.w-7{'data-feather': "file", 'data-action': 'click->mobile-tabs#showNotes'}
      %i.text-white.w-7{'data-feather': "edit", 'data-action': 'click->mobile-tabs#showNote'}
    .grid.grid-cols-1.h-screen.w-full{class: 'md:grid-cols-3 lg:grid-cols-4'}
      / Tags
      #tags-col.col-span-1.bg-primary.h-full.divide-y.divide-primary-600.overflow-scroll.hidden{class: 'lg:block'}
        %div.py-5
          .flex.flex-row.justify-start.uppercase.text-xs.px-7.font-medium.text-primary-50
            Categories

          .flex.flex-col.gap-1.mt-2.px-5
            = link_to notes_path do
              .w-full.p-2.text-white.rounded-md.flex.flex-row.items-center.gap-2{class: "#{@tag.nil? ? 'bg-primary-400' : 'hover:bg-primary-400'}"}
                %i.text-white.w-4{'data-feather': "file"}
                All Notes

        %div
          .flex.flex-row.justify-start.uppercase.text-xs.pl-7.pt-5.font-medium.text-primary-50
            Tags
          .flex.flex-col.gap-1.px-5.py-2#tags-list
            = render 'notes/tags'


      #notes-col.col-span-1.bg-neutral-100.h-full.overflow-scroll.hidden{class: 'md:block'}
        .flex.flex-row.justify-between.items-center.uppercase.text-xs.px-5.font-bold.text-primary-700.pt-5.pb-3.border-b.border-neutral-200.sticky
          Notes
          = link_to notes_path(tag: @tag) do
            .flex.flex-row.gap-2.items-center.text-sky-400
              %i.text-white.w-3.text-sky-400{'data-feather': "plus"}
              New Note
        #notes-list
          
          - @notes.each do |note|
            = link_to note_path(id: note.slug, tag: @tag) do
              .p-5.flex.flex-col.gap-1.border-b.border-neutral-200.relative{class: "hover:bg-sky-50 #{@note == note ? 'bg-sky-50': nil}", id: note.slug}
                - if @note == note
                  .absolute.w-1.bg-sky-400.inset-y-0.left-0.h-full
                .text-neutral-800.font-medium.text-lg
                  = note.content.split("\n").first&.truncate(30)
                .text-neutral-500.font-base.text-xs
                  #{time_ago_in_words(note.created_at)} ago
                .text-neutral-700.font-base.text-sm
                  = note.content.truncate(70)
          #empty-notes.mt-6{class: "#{@notes.present? ? 'hidden' : nil}"}
            .text-center
              %i.text-primary-500.w-12.mx-auto{'data-feather': "edit"}
              %h3.mt-2.text-sm.font-medium.text-primary-500 No notes yet.
              %p.mt-1.text-sm.text-primary-400 Get started by writing a something on the right.
      = yield
